<h1>About us</h1>
<p>
	This is me. 
	<br>
	Let me introduce somethings about me.
	<br>
	I am Julius Alberto
	<br>
	My age is 13
	<a href="http://www.twitter.com/superdoraemon">My twittah </a>
	<br>
	<%= link_to "Home",static_pages_home_path %>
</p>